<!DOCTYPE html>
<html lang="ko">
    <head>
        <title>vision</title>
        <meta name="naver-site-verification" content="860921003cadbd3b30d27815720a67e5bd9e9f75"/>
        <meta name="description" content="중앙대학교 숙명여자대학교 연합 창업동아리 VISION">
        <link rel="shortcut icon" href="/images/favicon.ico">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/style/main.css">
    </head>
    <body>
        {{!--{{flash good}}--}}
        <div id="main_nav">
            <a class="main_nav_items" href="/">HOME</a>
            <a class="main_nav_items" href="/vision">VISION</a>
            <a class="main_nav_items" href="/apply">APPLY</a>
            {{!--<a class="main_nav_items" href="/program">PROGRAM</a>--}}
            {{!--<a class="main_nav_items" href="/history">HISTORY</a>--}}
            <a class="main_nav_items" href="/gallery">GALLERY</a>
            <a class="main_nav_items" href="/staff">STAFF</a>
        </div>
        {{{body}}}


    {{> partials}}
    </body>
</html>
