<h2>신입생 신청서</h2>
    <p>recruitment</p>
    <form action="/fresh" method="post">
        <label>University</label><br>
        <input type="radio" name="freshCollege" value="CAU">CAU
        <input type="radio" name="freshCollege" value="SMU">Sookmyung<br>
        <label>Name </label>
        <input type="text" name="freshName"/><br>
        <label>Phone Number </label>
        <input type="text" name="freshPhone"><br>
        <label>Why are you come to vision ?</label><br>
        <textarea name="freshArticle" cols="100" rows="30"></textarea>
        <input type="submit">
    </form>