
<link rel="stylesheet" href="/style/gallery.css">

<p id="g_main">G A L L E R Y</p>

<div id='g_deco_box'></div>
<div id='g_deco_line'></div>
<div id='g_deco_line2'></div>

<div id="gallery">
    <img src="/v_gall/1.jpeg">
    <img src="/v_gall/3.jpeg" alt="">
    <img src="/v_gall/4.jpeg" alt="">
    <img src="/v_gall/2_1.JPG" alt="">
    <img src="/v_gall/2_2.JPG" alt="">
    <img src="/v_gall/5.jpeg" alt="">
    <img src="/v_gall/6.jpeg" alt="">
    <img src="/v_gall/7.jpg" alt="">
    <img src="/v_gall/8.jpeg" alt="">
    <img src="/v_gall/10.jpeg" alt="">
    <img src="/v_gall/11.jpeg" alt="">
    <img src="/v_gall/12.JPG" alt="">
    <a href="/"><img src="/v_gall/13.JPG" alt=""></a>
    <img src="/v_gall/15.JPG" alt="">
    <img src="/v_gall/19.JPG" alt="">
    <img src="/v_gall/20.JPG" alt="">
    <img src="/v_gall/21.jpeg" alt="">
    <img src="/v_gall/21_2.jpeg" alt="">
    <img src="/v_gall/23.JPG" alt="">
    <img src="/v_gall/24_1.JPG" alt="">
    <img src="/v_gall/24_2.JPG" alt="">
</div>
<div id="gallery2">
    <img src="/v_gall/25.jpeg" alt="">
    <img src="/v_gall/26_1.jpeg" alt="">
    <img src="/v_gall/26_2.jpeg" alt="">
    <img src="/v_gall/27.jpeg" alt="">
    <img src="/v_gall/28.JPG" alt="">
    <img src="/v_gall/29_1.JPG" alt="">
    <img src="/v_gall/29_2.JPG" alt="">
    <img src="/v_gall/30.JPG">
</div>