<link href="https://fonts.googleapis.com/css?family=Sansita" rel="stylesheet">
<link rel="stylesheet" href="/style/home.css">
<div class="background mainimg">
    <p id="home_p">
    <a>M A K E _ Y O U R <br> V I S I O N</a><br>
    </p>
    <div class="article">
        <div class="article_back">
            <div id="home_section1">
                <p>APPLY</p>
                <p>NOW </p>
            </div>
            <div id="home_section2">
                <h3>모집기간 : 3월 1일 ~ 3월 14일</h3>
                <h3>활동장소 : 중앙대학교 & 숙명여자대학교</h3>
                <h3>활동시간 : 매주 수요일 7시</h3>
                <h3>신청방법 : <a href="/apply">APPLY</a> click!</h3>       
            </div>
        </div>
    </div>
</div>
        
<div class="background staffimg">
    <div class="staffimg_back">
        <div id="staffbox">
            <p>비전 임원</p>
           <div class="personbox">
           <img src="/images/v_me.jpg" alt="" class="imgbox" value="회장">
           <div><br>김현태</div>
           </div>
           <div class="personbox">
           <img src="/images/v_jaehan.jpeg" alt="" class="imgbox" value="부회장">
           <div><br>심재한</div>
           </div>
           <div class="personbox">
           <img src="/images/v_jihui.jpeg" alt="" class="imgbox" value="숙대지부장">
           <div><br>김지희</div>
           </div>
           <div class="personbox">
           <img src="/images/v_eunseo.jpeg" alt="" class="imgbox" value="총무">
           <div><br>이은서</div>
           </div>
           <div class="personbox">
           <img src="/images/v_jaeyun.jpeg" alt="" class="imgbox" value="기획부장">
           <div><br>이재윤</div>
           </div>
        </div>
            <div id="part" class='intro'>Hi</div>
            <div id="say" class='intro'>click image</div>
        </div>
    </div>
</div>