<link rel="stylesheet" href="/style/vision.css">
<div id="vision_section">
    <div id="vision_main">WELCOME TO VISION</div>
    <div class="vision_info">
        <br>
        <h1>중앙대와 숙명여대의 벤처 창업 동아리</h1> <br><br>
        <h1>VISION은 창업을 하고 싶은 사람들이 모이는 곳입니다.</h1>
        <p class="introduce">혼자 새로운 회사, 서비스, 플랫폼을 만드는 것은 매우 힘든 일입니다.  <br>
        VISION에서는 창업에 대한 열정으로 똘똘 뭉친 사람들과의 교류를 통해<br>
        뜻을 같이 할 든든한 팀원과, 조력자를 구할 수 있는 기회를 제공합니다. <br>
        누적된 풍부한 인적 네트워크를 통해, 현업에 계신 분들을 멘토로 둘 수 있는 기회 또한 제공합니다.</p><br><br>
        <h1>VISION은 같은 목표 아래의 다양한 사람들과 새로운 가치를 만드는 곳입니다.</h1>
        <p class="introduce">VISION의 구성원들은 꿈과 그에 대한 열정을 공유합니다. <br>
        또한 각자 가고자 하는 방향에 대해 치열하게 고민하며 마침내 실현시키기 위해 한 걸음 한 걸음 꿋꿋하게 나아가고 있습니다. <br>
        쉽지 않은 길이지만, 벤처정신을 가슴에 담고 새로운 가치를 실현하기 위한 걸음을 멈추지 않습니다.
        <br class="introduce">VISION은 세상을 바꾸는 창업가가 될 당신에게 최고의 시작점이 될 것입니다</p>
    </div>
    <div class="vision_article networking">
        <p>Networking</p>
        <div>
            <p class="intro">&#10003; 비전의밤</p>
            <p class="introduce">‘비전의 밤’은 매 학기가 끝나고 비전의 선배들과 후배들이 만나는 교류의 장입니다. <br>
            한 학기 동안 함께 활동했던 비전 멤버들과 그간의 활동들을 돌아보며 추억을 되짚어 보고, <br>
            비전 선배님들과의 만남을 통해 창업에 대한 경험과 삶의 조언을 들을 수 있는, <br>
            한 해가 끝나갈 무렵 진행되는 비전의 가장 큰 연례행사 중 하나입니다.</p><br>
            <p class="intro"> &#10003; Workshop</p>
            <p class="introduce"> ‘워크샵’은 새로운 멤버들과 기존의 멤버들이 서로의 친분을 쌓을 수 있는 절호의 기회로, <br>
            1박 2일간 진행되며 재미있고 다양한 프로그램들이 준비되어 있습니다. <br>
            서로의 생각을 알아가는 좋은 기회로써 나중에 실제로 같이 일하고싶은 사람도 미리 찾아볼 수 있습니다. <br>물론 술이 빠질 수 없겠죠 ! 
            </p>
        </div>
    </div>
    <div class="vision_article session">
        <p>Session</p>
        <div>
            <p class="intro">
            <a href="/idea/view" style="color:black">&#10003; vision project & ideation program</a></p>
            <p class="introduce">’vision project & ideation’은 4~5명이 한 팀이 되어 한 학기동안 실제로 아이템을 키워나가는 프로그램입니다. <br>
            우선 Ideation program을 통해서 아이템을 선정, 선별한 후 자신에게 매력적인 아이템에 투표를 함으로써 각각의 팀이 구성됩니다.<br>
            실제 창업의 밑거름이 되는 비전의 가장 주된 활동입니다.<br><br>
            서로 다른 분야의 팀원들과 한 팀이 되어 다양한 아이디어를 공유하고 그것을 토대로 실제 창업까지 나아가는 것을 목표로 합니다.<br>
            한 학기 전체에 걸쳐서 진행되며 프로젝트 기간 중에는 중간과 최종 두 번의 발표가 있습니다.<br> 
            최종발표 시기의 상위 팀은 링크 사업단과의 연결을 통해 실제로 사업화 할수 있는 좋은 기회가 주어집니다.<br>
            현재 링크사업단에는 여러 비전의 창업 팀들이 소속되어 있으며 <br>
            링크사업단에 등록된 후에는 선배 창업 팀들과 함께 서로 도움을 주고 받으며 성장하는 긍정적인 효과를 기대할 수 있습니다.
            </p>
        </div>
    </div>
    <div class="vision_article building">
        <p>Capacity Building</p>
        <div>
            <p class="intro">&#10003; 초청강연</p>
            <p class="introduce">‘초청강연’은 사업가 또는 전문가 분들을 모셔서 실제 창업에 도움이 되는 실전적 지식을 얻을 수 있는 시간입니다. <br>
            먼저 창업의 길을 걸은 선배 사업가들의 강연을 통해 창업에 대한 살아있는 지식을 얻을 수 있으며, <br>
            전문가 분들의 강연에서 얻은 정보는 앞으로의 방향성을 잡고 계획을 세우는데 큰 도움이 될 것입니다.<br>
            매 강연 별 주제는 미리 공지가 될 예정이며, 강연이 끝난 후에는 질의응답 시간을 갖게 됩니다.<br>
            러한 강연은 창업에 대한 전반적인 이해를 증진시키는 데 도움이 되며, <br>
            이후에 마련되는 네트워킹 자리는 좋은 인연을 만드는 기회가 될 것입니다.</p><br>
            <p class="intro">&#10003; BM Presentation</p>
            <p class="introduce">BM은 Business Model의 약자로서 실제로 창업을 하게 된다면 반드시 고민해봐야할 숙제입니다.<br>
            중간고사 전에는 staff들이 BM Presentation을 진행하고 그 후에는 자신의 팀에서 생각한 BM을 발표하게 됩니다.<br>
            눈부신 비약을 이뤘거나 특이한 BM으로 수익을 올린 스타트업의 사례를 보며 창업에 대한 의지를 불태우거나 <br>
            혹은 고배를 마신 비운의 스타트업 사례를 반면교사 삼으며 과연 어떤 BM이 현명한 것인지에 대해 고민해봅니다.</p><br>
            <p class="intro">&#10003; Study ( 마케팅 / 개발 / 디자인 )</p>
            <p class="introduce">‘스터디’는 창업의 핵심인 마케팅, 개발, 디자인 분야에 대해서 동아리 멤버들이 함께 공부하는 활동입니다.<br> 
            강압적이지 않은 분위기에서 하고 싶은 분야를 자유롭게 선택하여 공부하게 되며 <br>
            창업에 직결되는 지식을 얻을 수 있는 좋은 기회입니다.</p>
        </div>
    </div>
</div>

<span style="display:none" id="alert">{{message}}</span>
<script type="text/javascript" src="/m_alert.js"></scrip