<h1>Login</h1>
<form action="/login" method="post">
    <input type="text" name="username" placeholder="ID"></input>
    <input type="password" name="password" placeholder="PW"></input>
    <input type="submit" value="login"></input>
</form>