<h1>Signup</h1>
<form action="/signup" method="post">
    <input type="text" name="username" placeholder="ID"></input>
    <input type="password" name="password" placeholder="PW"></input>
    <input type="submit" value="signup"></input>
</form>